    header {
      text-align: center;
      background: url("https://s-media-cache-ak0.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif");
      background-size:cover;
      color: white;
    
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
      box-shadow:20px green;
    }
    img {
      margin: 40px 0px 0px 0px;
      border-radius: 300px;
      height:300px;
      width:300px;
    }
    ul {
      padding: 20px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
    
